@{
    ViewBag.Title = "Fortnite";
}
@section header {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    @Styles.Render("~/Content/css/kendoui2018")
    @Scripts.Render("~/bundles/kendoui2018")
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Schematics</h3>
        </div>
    </div>
    <div class="row">
        <div id="pnlMain" class="col-md-8">
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/scripts/utility.js")" type="text/javascript"></script>
    <script>
    var apiUrl = '@Url.Action("GetSchematics", "Main", new { Area = "Fortnite" })';
    window.dataSourceSchematic = new kendo.data.DataSource({
        transport: {
            read: { url: apiUrl, dataType: "json" }
        },
        schema: {
            model: { fields: schemSchematicDto }
        },
        requestStart: function (e) { },
        requestEnd: function (e) { },
        change: function (e) { /*console.log("change: ", e);*/ },
        error: function (e) { /*console.log("error: ", e);*/ }
    });
    $(function () {
        $("#pnlMain").kendoGrid({
            dataSource: dataSourceSchematic,
            columns: [
                { field: "name", title: "Name", width: 80 },
                { field: "level", title: "Level", width: 80 },
                { field: "stars", title: "Rating", width: 80, template: "#= StarLabel(data.stars) #" },
                { field: "SchematicType", title: "Type", width: 80, filterable: { ui: typeFilter } },
                { field: "imgurl", title: " ", width: 110, template: fn_ImgTemplate, filterable: false }
            ],
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            sortable: true,
            height: 500,
            change: onChange,
            detailInit: detailInit,
            selectable: true
        });

        window.dataSourceSchematic.read();
    });
    </script>
}
