@using Rad.Web.Areas.Fortnite.Models
@model List<SchematicVM>
@{
    ViewBag.Title = "Fortnite";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
            @foreach (SchematicVM schematic in Model)
            {
                <li>
                    <div>@schematic.name - @schematic.level</div>
                </li>
            }
            </ul>
        </div>
    </div>
</div>
